<main id="root"></main>

<script type="text/javascript">
  window.images = {
    google_play_store: "<%= asset_path("google_play_store.png")%>"
    ios_app_store: "<%= asset_path("ios_app_store.png")%>"
    Kilogram_logo: "<%= asset_path("Kilogram_logo.png")%>"
    kilogram-icons1: "<%= asset_path("kilogram-icons1.png")%>"
    kilogram-icons2: "<%= asset_path("kilogram-icons2.png")%>"
  }
</script>